node_modules
dashboard/node_modules
.git
.gitignore
.claude
.agents
app-session.err.log
app-session.out.log
app.err.log
app.out.log
bot.err.log
bot.out.log
worker-session.err.log
worker-session.out.log
worker.err.log
worker.out.log
ngrok.err.log
ngrok.out.log
dashboard/dist
dist
npm-debug.log*
